.video-list{
    display: flex;
}
.video-grid{
    display: inline-block;
    width: 20%;
    margin-bottom: 60px;
    margin-right: 40px;
}
.video__img-block{
    width: 25%;
    height: 150px;
    margin-bottom: 20px;
    margin-right: 14px;
}
.video__img{
    width: 100%;
}
.video__title{
    color: #000000;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 12px;
}

.video__channel{
    color: rgba(23, 23, 25, 0.3);
    font-size: 20px;
    line-height: 20px;
}

.video__text{
    width: 70%;
}

.video__img-block-grid{
    width: 100%;
    margin-right: 20px;
}

.video__text-grid{
    width: 100%;
}

.video__title-grid{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 6px;
}

.video__channel-grid{
    font-size: 14px;
    line-height: 14px;
    color: rgba(23, 23, 25, 0.3);
}